* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  display: flex;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;


}

#navBar {
  max-width: 100%;
}

.MuiBox-root {
  justify-content: space-evenly;
  
}

